/*
 * @Date: 2021-01-10 14:15:24
 * @information: home
 */
#home {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;

  h2 {
    text-align: center;
  }

  .btn_add {
    position: fixed;
    top: 150px;
    left: 83%;
  }
 

}


